.button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  will-change: transform;
  transition: transform .3s;
  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
    outline: none;
  }
  &:active {
    transform: scale(0.85);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button-small {
  @extend .button;
  padding: .3em .6em;
}
